<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>商城系统-后台管理系统</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="/admin">后台管理系统</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="🔍搜索" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <span class="badge badge-danger">9+</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                    <a class="dropdown-item" href="#">已 读</a>
                    <a class="dropdown-item" href="#">未 读</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">设置已读</a>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <span class="badge badge-danger">7</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                    <a class="dropdown-item" href="#">未 读</a>
                    <a class="dropdown-item" href="#">已 读</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">设置已读</a>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">设 置</a>
                    <a class="dropdown-item" href="#">日 志</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">退出</a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>首 页</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>商品管理</span>
                </a>
                <div id="product_manage"  class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="/admin/shoplist">商品列表</a>
                    <a class="dropdown-item" href="/admin/shopadding">添加商品</a>
                    <a class="dropdown-item" href="/admin/shopclassify">商品分类</a>
                    <a class="dropdown-item" href="/admin/shoptype">商品类型</a>
                    <a class="dropdown-item" href="/admin/shopbrand">品牌管理</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>订单管理</span>
                </a>
                <div id="order_manage"  class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="/admin/orderlist">订单列表</a>
                    <a class="dropdown-item" href="/admin/ordersetting">订单设置</a>
                    <a class="dropdown-item" href="/admin/ordercanceling">退货申请处理</a>
                    <a class="dropdown-item" href="/admin/ordercancelsetting">退货原因设置</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>营销策略管理</span>
                </a>
                <div id="marketing_manage"  class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="/admin/spikelist">秒杀活动列表</a>
                    <a class="dropdown-item" href="/admin/couponlist">优惠券列表</a>
                    <a class="dropdown-item" href="/admin/recommendbrand">品牌推荐</a>
                    <a class="dropdown-item" href="/admin/recommendnew">新品推荐</a>
                    <a class="dropdown-item" href="/admin/recommendpopular">人气推荐</a>
                    <a class="dropdown-item" href="/admin/recommendspecial">专题推荐</a>
                    <a class="dropdown-item" href="/admin/adlist">广告列表</a>
                </div>
            </li>
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid"  th:include="::content">

            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>版权所有 © 中南财经信息学院2019级课设实验</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定退出系统?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">按 "确认" 键退出系统.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取 消</button>
                <a class="btn btn-primary" href="login.html">确 认</a>
            </div>
        </div>
    </div>
</div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Page level plugin JavaScript-->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin.min.js}"></script>

    <!-- Demo scripts for this page-->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
  </body>

</html>
