<html xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<div th:fragment="content">
    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">首页</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/admin/orderlist">订单管理</a>
            </li>
            <li class="breadcrumb-item active">退货申请处理</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-search"></i>
                数据搜索
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="#" method="post">
                    <div class="container-fluid row">
                        <div>
                            <label> 服务单号：</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" name="id" placeholder="服务单号"/>
                        </div>
                        <div>
                            <label> 申请时间：</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" name="createTime" id="createTime" placeholder="申请时间"/>
                        </div>
                        <div>
                            <label> 操作员：</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" name="handleMan" placeholder="操作员"/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="container-fluid row">
                        <div>
                            <label> 处理时间：</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" name="handleTime" id="handleTime" placeholder="处理时间"/>
                        </div>
                        <div>
                            <label> 处理状态：</label>
                        </div>
                        <div class="col-sm-3">
                            <!--申请状态：0->待处理；1->退货中；2->已完成；3->已拒绝-->
                            <select class="form-control form-control-sm" name="status">
                                <option value="">全部</option>
                                <option value="0">待处理</option>
                                <option value="1">退货中</option>
                                <option value="2">已完成</option>
                                <option value="3">已拒绝</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="container-fluid row">
                        <div class="col-sm-9"></div>
                        <div>
                            <button type="button" class="btn btn-danger">条件重置</button>
                            <button type="submit" class="btn btn-primary">查询搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                数据列表</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="orderReturnApplies" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>服务单号</th>
                            <th>申请时间</th>
                            <th>用户账号</th>
                            <th>退款金额</th>
                            <th>申请状态</th>
                            <th>处理时间</th>
                            <th>操    作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order:${orderReturnApplies}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${#dates.format(order.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${order.memberUsername}"></td>
                            <td th:text="${order.productRealPrice}"></td>
                            <!--申请状态：0->待处理；1->退货中；2->已完成；3->已拒绝-->
                            <td th:switch="${order.status}">
                                <span th:case="0">待处理</span>
                                <span th:case="1">退货中</span>
                                <span th:case="2">已完成</span>
                                <span th:case="3">已拒绝</span>
                            </td>
                            <td th:text="${#dates.format(order.handleTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <a th:href="'orderreturndetail?id='+${order.id}">查看详情</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="pages" class="row">
                        <div class="col-sm-6"></div>
                        <div class="text-center">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li th:class="${pageInfo.pageNum} == '1' ? 'paginate_button page-item disabled':'paginate_button page-item' ">
                                        <a href="orderlist" aria-controls="dataTable" class="page-link">首页</a>
                                    </li>
                                    <li class="paginate_button page-item previous">
                                        <a  th:href="@{'?page=' + ${pageInfo.prePage}}" th:if="${pageInfo.hasPreviousPage} == true" aria-controls="dataTable" class="page-link">上一页</a>
                                    </li>
                                    <li class="paginate_button page-item next disabled">
                                        <a th:href="@{'?page=' + ${pageInfo.pageNum}}" aria-controls="dataTable" class="page-link">
                                            <b th:text="${pageInfo.pageNum}"></b>
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item next">
                                        <a th:href="@{'?page=' + ${pageInfo.nextPage}}" th:if="${pageInfo.hasNextPage} == true" aria-controls="dataTable" class="page-link">下一页</a>
                                    </li>
                                    <li th:class="${pageInfo.pageNum} == ${pageInfo.pages} ? 'paginate_button page-item disabled':'paginate_button page-item' ">
                                        <a th:href="@{'?page=' + ${pageInfo.pages}}" aria-controls="dataTable" class="page-link">尾页</a>
                                    </li>
                                    <li class="paginate_button page-item disabled">
                                        <a aria-controls="dataTable" class="page-link">
                                            <b th:text="'共' + ${pageInfo.pages} +'页'"></b>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Page level plugin JavaScript-->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin.min.js}"></script>
    <script th:src="@{/js/moment-with-locales.min.js}"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <!-- Data scripts for this page-->
    <script th:inline="javascript">
        $(function () {
            $('#createTime').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
            $('#handleTime').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
        });
    </script>
</div>
</html>