<html xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<div th:fragment="content">
    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">首页</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/admin/orderlist">订单管理</a>
            </li>
            <li class="breadcrumb-item active">订单设置</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-tree"></i>
                订单设置操作
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="#" method="post">
                    <input type="text" name="id" style="display:none" th:value="${orderSetting.id}"/>
                    <div class="container-fluid row">
                        <div>
                            <label> 秒杀订单超过(分)：</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" name="flashOrderOvertime"
                                   th:value="${orderSetting.flashOrderOvertime}" placeholder="60"/>
                        </div>
                        <div class="col-sm-6">
                            未付款，订单自动关闭
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="container-fluid row">
                        <div>
                            <label> 正常订单超过(分)：</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" name="normalOrderOvertime"
                                   th:value="${orderSetting.normalOrderOvertime}" placeholder="120"/>
                        </div>
                        <div class="col-sm-6">
                            未付款，订单自动关闭
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="container-fluid row">
                        <div>
                            <label> 订单发货超过(天)：</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" name="confirmOvertime"
                                   th:value="${orderSetting.confirmOvertime}" placeholder="15"/>
                        </div>
                        <div class="col-sm-6">
                            未收货，订单自动完成
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="container-fluid row">
                        <div>
                            <label> 订单完成超过(天)：</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" name="finishOvertime"
                                   th:value="${orderSetting.finishOvertime}" placeholder="7"/>
                        </div>
                        <div class="col-sm-6">
                            自动结束交易，不能申请售后
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="container-fluid row">
                        <div>
                            <label> 订单完成超过(天)：</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" name="commentOvertime"
                                   th:value="${orderSetting.commentOvertime}" placeholder="7"/>
                        </div>
                        <div class="col-sm-6">
                            自动五星好评
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="container-fluid row">
                        <div class="col-sm-4"></div>
                        <button type="submit" class="btn btn-primary">提&nbsp;&nbsp;交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Page level plugin JavaScript-->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin.min.js}"></script>

    <!-- Data scripts for this page-->
    <script th:inline="javascript">
        var msg = [[${msg}]];
        $(document).ready(function () {
            if (msg) {
                alert(msg);
            }
        })
    </script>
</div>
</html>