<html xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<div th:fragment="content">
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/shoplist">商品管理</a>
                </li>
                <li class="breadcrumb-item active">商品列表</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    <span>筛选搜索</span>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="#" method="post">
                        <div class="container-fluid row">
                            <div>
                                <label> 商品名称：</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control form-control-sm" name="keyword"
                                       placeholder="商品名称"/>
                            </div>
                            <div>
                                <label> 商品货号：</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control form-control-sm" name="productSn"
                                       placeholder="商品货号"/>
                            </div>
                            <div>
                                <label> 商品品牌：</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control form-control-sm" name="brandId">
                                    <option value="" disabled selected hidden>请选择品牌</option>
                                    <option value="1">万和</option>
                                    <option value="2">三星</option>
                                    <option value="3">华为</option>
                                    <option value="6">小米</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="container-fluid row">
                            <div>
                                <label> 上架状态：</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control form-control-sm" name="publishStatus">
                                    <option value="" disabled selected hidden>全部</option>
                                    <option value="0">下架</option>
                                    <option value="1">上架</option>
                                </select>
                            </div>
                            <div>
                                <label> 审核状态：</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control form-control-sm" name="verifyStatus">
                                    <option value="" disabled selected hidden>全部</option>
                                    <option value="0">未审核</option>
                                    <option value="1">审核通过</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="container-fluid row">
                            <div class="col-sm-9"></div>
                            <div>
                                <button type="reset" class="btn btn-danger">条件重置</button>
                                <button type="submit" class="btn btn-primary">查询搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    数据列表
                    <button class="btn btn-default"
                            type="button" style="float:right;margin-right:15px;">
                        <span>添加</span>
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="productList" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>商品图片</th>
                                <th>商品名称</th>
                                <th>价格</th>
                                <th>货号</th>
                                <th>排序</th>
                                <th>销量</th>
                                <th>审核状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product:${productList}">
                                <td th:text="${product.id}"></td>
                                <td>
                                    <img th:src="${product.pic}" th:width="80" th:height="80">
                                </td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:text="${product.productSn}"></td>
                                <td th:text="${product.sort}"></td>
                                <td th:text="${product.sale}"></td>
                                <td th:text="${product.verifyStatus}==0?'未审核':'已审核'"></td>
                                <td>
                                    <a href="#" data-toggle="modal" style="color: red"
                                       th:style="${product.id}">编辑</a>
                                    <a href="#" data-toggle="modal" data-target="#dataModal" style="color: red"
                                       th:style="${product.id}">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div id="pages" class="row">
                            <div class="col-sm-6"></div>
                            <div class="text-center">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li th:class="${pageInfo.pageNum}=='1' ? 'paginate_button page-item disabled':'paginate_button page-item' ">
                                            <a href="shoplist" aria-controls="dataTable" class="page-link">首页</a>
                                        </li>
                                        <li class="paginate_button page-item previous">
                                            <a th:href="@{'?page=' + ${pageInfo.prePage}}"
                                               th:if="${pageInfo.hasPreviousPage} == true" aria-controls="dataTable"
                                               class="page-link">上一页</a>
                                        </li>
                                        <li class="paginate_button page-item next disabled">
                                            <a th:href="@{'?page=' + ${pageInfo.pageNum}}" aria-controls="dataTable"
                                               class="page-link">
                                                <b th:text="${pageInfo.pageNum}"></b>
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item next">
                                            <a th:href="@{'?page=' + ${pageInfo.nextPage}}"
                                               th:if="${pageInfo.hasNextPage} == true" aria-controls="dataTable"
                                               class="page-link">下一页</a>
                                        </li>
                                        <li th:class="${pageInfo.pageNum} == ${pageInfo.pages} ? 'paginate_button page-item disabled':'paginate_button page-item' ">
                                            <a th:href="@{'?page=' + ${pageInfo.pages}}" aria-controls="dataTable"
                                               class="page-link">尾页</a>
                                        </li>
                                        <li class="paginate_button page-item disabled">
                                            <a aria-controls="dataTable" class="page-link">
                                                <b th:text="'共' + ${pageInfo.pages} +'页'"></b>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="dataModalLabel">确定删除吗？</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">确 定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.container-fluid -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Page level plugin JavaScript-->
        <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
        <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin.min.js}"></script>

        <script th:src="@{/js/moment-with-locales.min.js}"></script>
        <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
        <script th:src="@{/js/common.js}"></script>
    </div>
</div>
</html>