<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>商城系统-后台管理系统</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">


</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/admin">后台管理系统</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="🔍搜索" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger">9+</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                <a class="dropdown-item" href="#">已 读</a>
                <a class="dropdown-item" href="#">未 读</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">设置已读</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                <a class="dropdown-item" href="#">未 读</a>
                <a class="dropdown-item" href="#">已 读</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">设置已读</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">设 置</a>
                <a class="dropdown-item" href="#">日 志</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">退出</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>首 页</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>商品管理</span>
            </a>
            <div id="product_manage"  class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="/admin/shoplist">商品列表</a>
                <a class="dropdown-item" href="/admin/shopadding">添加商品</a>
                <a class="dropdown-item" href="/admin/shopclassify">商品分类</a>
                <a class="dropdown-item" href="/admin/shoptype">商品类型</a>
                <a class="dropdown-item" href="/admin/shopbrand">品牌管理</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>订单管理</span>
            </a>
            <div id="order_manage"  class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="/admin/orderlist">订单列表</a>
                <a class="dropdown-item" href="/admin/ordersetting">订单设置</a>
                <a class="dropdown-item" href="/admin/ordercanceling">退货申请处理</a>
                <a class="dropdown-item" href="/admin/ordercancelsetting">退货原因设置</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>营销策略管理</span>
            </a>
            <div id="marketing_manage"  class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="/admin/spikelist">秒杀活动列表</a>
                <a class="dropdown-item" href="/admin/couponlist">优惠券列表</a>
                <a class="dropdown-item" href="/admin/recommendbrand">品牌推荐</a>
                <a class="dropdown-item" href="/admin/recommendnew">新品推荐</a>
                <a class="dropdown-item" href="/admin/recommendpopular">人气推荐</a>
                <a class="dropdown-item" href="/admin/recommendspecial">专题推荐</a>
                <a class="dropdown-item" href="/admin/adlist">广告列表</a>
            </div>
        </li>
    </ul>

    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar"></i>
                            今日订单总数</div>
                        <div class="card-body">
                        <span id="todayOrderSum" width="100%" height="30">
                            280000
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar"></i>
                            今日销售总额</div>
                        <div class="card-body">
                        <span id="todaySellSum" width="100%" height="30">
                            10000000
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar"></i>
                            昨日销售总量</div>
                        <div class="card-body">
                        <span id="yesterdaySellSum" width="100%" height="30">
                            10000000
                        </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar"></i>
                            待处理事项
                        </div>
                        <div id="TodoList" class="card-body" width="100%" height="50">
                            <div class="row">
                                <div class="col-lg-3">
                                    <span class="float-left">待付款订单</span>
                                    <span class="float-right"> <u>192</u> </span>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <span class="float-left">待发货订单</span>
                                    <span class="float-right"> <u>192</u> </span>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <span class="float-left">新缺补货登记</span>
                                    <span class="float-right"> <u>192</u> </span>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <span class="float-left">待处理退货订单</span>
                                    <span class="float-right"> <u>192</u> </span>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <span class="float-left">待处理退款订单</span>
                                    <span class="float-right"> <u>192</u> </span>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <span class="float-left">待处理下架商品</span>
                                    <span class="float-right"> <u>192</u> </span>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--商品和用户总览-->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar"></i>
                            商品总览</div>
                        <div class="card-body">
                            <canvas id="commodityPieChart" width="100%" height="100"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            用户总览</div>
                        <div class="card-body">
                            <canvas id="userPieChart" width="100%" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 订单统计 -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-area"></i>
                    订单统计</div>
                <div class="card-body">
                    <canvas id="orderTotal" width="100%" height="40"></canvas>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Sticky Footer -->
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>版权所有 © 中南财经信息学院2019级课设实验</span>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定退出系统?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">按 "确认" 键退出系统.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取 消</button>
                <a class="btn btn-primary" href="login.html">确 认</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin.min.js}"></script>

<!-- Data scripts for this page-->
<script th:inline="javascript">
    // 订单统计
    var order_moneys = [[${order_money}]];
    var order_nums = [[${order_num}]];
    var order_date = Object.getOwnPropertyNames(order_nums);
    var order_num = Object.values(order_nums);
    var order_money = Object.values(order_moneys);
    var ctx = document.getElementById("orderTotal");
    var orderTotalLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: order_date,
            datasets: [
                {
                    label: "订单金额",
                    yAxisID: "order_money",
                    lineTension: 0.3,
                    backgroundColor: "rgba(245,222,179,0.2)",
                    borderColor: "rgba(245,222,179,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(245,222,179,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(245,222,179,1)",
                    pointHitRadius: 50,
                    pointBorderWidth: 2,
                    data: order_money
                },
                {
                    label: "订单数量",
                    yAxisID: "order_number",
                    lineTension: 0.3,
                    backgroundColor: "rgba(2,117,216,0.2)",
                    borderColor: "rgba(2,117,216,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(2,117,216,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(2,117,216,1)",
                    pointHitRadius: 50,
                    pointBorderWidth: 2,
                    data: order_num // [100, 162, 262, 183, 182, 286, 312, 332, 258, 241, 326, 319],
                }]
        },
        options: {
            scales: {
                yAxes: [{
                    type: "linear",
                    display: true,
                    position: "left",
                    id: "order_number"
                }, {
                    type: "linear",
                    display: true,
                    position: "right",
                    id: "order_money"
                }]
            },
            tooltips: {
                mode: "index",
                intersect: false
            }
        }
    });

    // 商品总览

    var ctx = document.getElementById('commodityPieChart');
    var commodityPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['已下架', '已上架', '缺库存'],
            datasets: [{
                label: '商品总览',
                data: [100, 400, 50],
                borderColor:'lightGray',
                backgroundColor:['pink','skyblue','LightYellow'],
                borderWidth: 1
            }]
        }
    });

    // 用户总览
    var ctx = document.getElementById('userPieChart');
    var userPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['今日新增', '昨日新增', '本月新增', "会员总数"],
            datasets: [{
                label: '用户总览',
                data: [100, 200, 1500, 10000],
                borderColor:'lightGray',
                backgroundColor:['pink','skyblue','LightYellow', 'LawnGreen'],
                borderWidth: 1
            }]
        }
    });
</script>
</body>
</html>